
/* first page: animated signature */
#signatureBox {
  width: 25rem;
  height: 11rem;
  position: absolute;
  bottom: 8%;
  right: 5%;
}

#signature {
  overflow: visible;
  opacity: 0;
}

#signature path {
  fill: rgba(255, 255, 255, 0);
  animation-delay: 1.5s;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#sStroke {
  stroke-dasharray: 470;
  animation: sStroke 2s 1 ease-in;
}

@keyframes sStroke {
  0% {stroke-dashoffset: 470;}
  30% {stroke-dashoffset: 0;}
}

#sDot {
  stroke-dasharray: 2;
  animation: sDot 2s 1 linear;
}

@keyframes sDot {
  0%, 30% {stroke-dashoffset: 2;}
  35% {stroke-dashoffset: 0;}
}

#sLetters {
  stroke-width: 4 !important;
  stroke-dasharray: 205;
  animation: sLetters 2s 1 ease-in-out;
}

@keyframes sLetters {
  0%, 35% {stroke-dashoffset: 205;}
  75% {stroke-dashoffset: 0;}
}

#sM {
  stroke-width: 4 !important;
  stroke-dasharray: 177;
  animation: sM 2s 1 ease-in;
}

@keyframes sM {
  0%, 75% {stroke-dashoffset: 177;}
  85% {stroke-dashoffset: 0;}
}

#sA {
  stroke-width: 3 !important;
  stroke-dasharray: 72;
  animation: sA 2s 1 ease-in;
}

@keyframes sA {
  0%, 85% {stroke-dashoffset: 72;}
  95% {stroke-dashoffset: 0;}
}

#sK {
  stroke-dasharray: 60;
  animation: sK 2s 1 ease-in;
}

@keyframes sK {
  0%, 95% {stroke-dashoffset: 60;}
  100% {stroke-dashoffset: 0;}
}
