.uppercased {
  text-transform: uppercase;
}

.light {
  font-weight: 200;
}

.medium {
  font-weight: 300;
}

.heavy {
  font-weight: 600;
}

.accented {
  color: #E9AC00;
}

.subtitle {
  font-size: 1.2rem;
}

.top {
  margin-top: 2.5rem !important;
}

.bottom {
  margin-bottom: 2.5rem !important;
}

.mimimal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* combined styles */
.feature {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.print {
  font-family: 'Lusitana', serif !important;
  font-size: 2rem;
}
